<%include partials/header%>


<center><h1> author name is </h1></center>
<% for(i=0;i<name.length;i++ ){ %> 
 <center><%= name[i].author %> &nbsp <%= name[i].book %> </center>


 <%}%>	
<%include partials/footer%>