<!DOCTYPE html>
<head>
<title>MY_PROJECT</title>
</head>
<body>
<h1> loading page </h1>
<form action ="/result" method = "POST">
movie_name:
<input type="text" name="movie_name">
url:
<input type="text"name="title">
<input type="submit" value="Submit">

<p><a href="H:\tsr\New folder\views\main.ejs">Visit to main page</a></p>
</form>
<a href="\main.ejs">Visit to main page</a>
</body>
</html>
