<html>
<head>
  <title>  in form </title>
</head>
<body>
<h1> in form _example.ejs</h1>



<center>
<form  action = "/form" method="GET">
  Movie  name:<br> <br>
  <input type="text" name="movie_name" >
  <br><br>
  <input type="submit" value="Submit">
</form> 
</center>

</body>
</html>