<center>
<form  action = "/campground" method="POST">
  Movie  name:<br> <br>
  <input type="text" name="movie_name" required >
  <br><br>

  Poster link : <br><br>
   <input type = "text" name = "url" required >
   <br><br>
  <input type="submit" value="Submit">
</form> 
</center>
